<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- =============================================================== -->
    <!-- Configuration des beans -->
    <!-- =============================================================== -->
    <bean id="authenticateManager" class="com.antazri.security.impl.AuthenticateManager" scope="prototype" />
    <bean id="generateToken" class="com.antazri.security.impl.GenerateToken" scope="prototype" />
    <bean id="passwordManagement" class="com.antazri.security.impl.PasswordManagement" scope="prototype" />

</beans>